<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Openbuildings\PHPUnitSpiderling\SaveOnFailure">
            <arguments>
                <string>var/</string>
                <string>file:///</string>
            </arguments>
        </listener>
    </listeners>
</phpunit>
